<div class="jumbotron text-center">
<h1 class ="display-4"> corona covid-19 tracker</h1>
    <hr>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit voluptate, 
    vero amet eum quo id suscipit nemo explicabo maiores accusantium expedita quisquam sunt 
    a laborum dolor veniam reiciendis! Quo, rerum!
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, neque. Hic quod
         labore nihil suscipit magnam quas ratione quo fuga. 
        Adipisci aliquid inventore, laborum magni id voluptatem neque quia sit.
    </p>




</div>